*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8)), 
                    url(https://images.unsplash.com/photo-1487958449943-2429e8be8625?q=80&w=870&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
}

.section_title::after {
    content: '';
    display: block;
    width: 70px;
    height: 4px;
    background:var(--bs-blue);
    margin: 10px auto 0;
    border-radius: 2px;
}

ul.custom-icons {
  list-style: none;      /* remove default bullets */
  padding-left: 0;
}

ul.custom-icons li {
  position: relative;
  padding-left: 1.5rem;  /* space for icon */
}

ul.custom-icons li::before {
  content: "\f26a";               /* Unicode of Bootstrap icon */
  font-family: "bootstrap-icons"; /* required */
  position: absolute;
  left: 0;
  top: 0;
}
